@import "tailwindcss";

.curved {
  background: oklch(71.4% 0.203 305.504);
  color: white;
  text-align: center;
}

.curved h1 {
  font-size: 4rem;
  margin-top: 0;
}
.curved p {
  font-size: 1rem;
  margin-top: 0 rem 2rem;
}

.curved svg {
  display: block;
}

.top > svg {
  display: block;
  background: #000;
}
